spring:
  application:
    name: BoardGame

  # PostgreSQL 설정
  datasource:
    url: jdbc:postgresql://localhost:5432/game_db
    username: user
    password: linux1234
    driver-class-name: org.postgresql.Driver

  # MongoDB, Redis 설정
  data:
    mongodb:
      url: mongodb://admin:linux1234@localhost:27017/admin
      database: game_logs
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jwt:
    secret: ${JWT_SECRET}

mail:
  host: smtp.gmail.com
  port: 587
  username: ${MAIL_USERNAME}
  password: ${MAIL_PASSWORD}
  properties:
    mail.smtp.auth: true
    mail.smtp.starttls.enable: true

security:
  oauth2:
    client:
      registration:
        google:
          client-id: ${CLIENT_ID}
          client-secret: ${CLIENT_SECRET}
          scope:
            - email
            - profile